<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Faisal_Gridser>
            <version>0.1.0</version>
        </Faisal_Gridser>
    </modules>
    <global>
        <blocks>
            <gridser>
                <class>Faisal_Gridser_Block</class>
            </gridser>
        </blocks>
        <helpers>
            <gridser>
                <class>Faisal_Gridser_Helper</class>
            </gridser>
        </helpers>
        <models>
            <gridser>
                <class>Faisal_Gridser_Model</class>
                <resourceModel>gridser_mysql4</resourceModel>
            </gridser>
            <gridser_mysql4>
                <class>Faisal_Gridser_Model_Mysql4</class>
                <entities>
                    <gridser>
                        <table>gridser_products</table>
                    </gridser>
                </entities>
            </gridser_mysql4>
        </models>
        <resources>
            <gridser_setup>
                <setup>
                    <module>Faisal_Gridser</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gridser_setup>
            <gridser_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gridser_write>
            <gridser_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gridser_read>
        </resources>
    </global>
    <admin>
        <routers>
            <gridser>
                <use>admin</use>
                <args>
                    <module>Faisal_Gridser</module>
                    <frontName>gridser</frontName>
                </args>
            </gridser>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gridser>
                    <file>gridser.xml</file>
                </gridser>
            </updates>
        </layout>
        <menu>
            <gridser>
                <title>Grid Serializer</title>
                <sort_order>55</sort_order>
                <children>
                    <manage>
                        <title>Manage Serializer</title>
                        <sort_order>10</sort_order>
                        <action>gridser/adminhtml_gridser</action>
                    </manage>
                </children>
            </gridser>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <gridser>
                            <title>Grid Serializer</title>
                            <sort_order>55</sort_order>
                            <children>
                                <manage>
                                    <title>Manage Serializer</title>
                                    <sort_order>10</sort_order>
                                </manage>
                            </children>
                        </gridser>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>